html {
	scroll-behavior: smooth;
}

h1 {
	color: #48483A;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
body {
	font-family: poppins;
	text-align: center;
	background-image: linear-gradient(to bottom right, #a7e3dc, #f7f7f7, #e7b8c9, #dd82a4, #85d2bb, #93cdc4)

}

p {
	text-align: center;
	font-size: 20px; 
	margin: 4px;

}

li { 
	list-style: none;
	text-align: center;
	font: status-bar;
	font-size: 20px;
}

h2 {
	color: #48483A;
}

h3 {
	color: #48483A;
}

h4 {
	color: #48483A;
	font-style: italic;
}

ul {
	 padding: 0;
}

img {
	height: 150px;
	border-radius: 50%;
}

a {
	color: #5695bf;
    text-decoration: none;
    text-shadow: 0 0 black;
    font-style: italic;
    font: status-bar;
}

.navbar a {
	margin: 5px 0px;
    background: #dae9e7;
    padding: 5px 15px;
    border-radius: 2px;
    color: #48483A;
    font: status-bar;
    font-size: unset;

}

.container {
	width: 700px;
	text-align: center;
	margin: 10px auto;

}

.white-card {
	margin: 40px auto;
	padding: 40px;
	border: 10px grey;
	border-radius: 10px;
	box-shadow: 10px 20px 30px grey;
	background-color: #dae9e7;
	text-align: center;
}
